
.search{
  display: flex;
  position: absolute;
  height: 100%;
  
  flex: 1fr;
  border-width: 1px;
  width: 100%;
  border-radius: 40px;
  border-color:rgb(223, 220, 220);
  background-color:white;
  
  border-style: solid;
  font-size: 40px;

   
}
.search:active{
  cursor: pointer;
 
}
.google_logo{
  height: 90%;
  width: 90%;
  position: relative;
  bottom: 20px;

}
.logo_div{
 
  height: 150px;
  width: 450px;
  position: absolute;
  left: 190px;
  
  align-items: baseline;
  
}
.search_div{
  
  position: absolute;
  top: 160px;
 
  width: 900px;
  height: 70px;
  
  
  
}

  
.main_div{
 
  position: relative;
  left: 50%;
  top: 100px;
}

.flex_box_div{
  display: flex;
  color: rgb(44, 43, 43);
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
 
  column-gap: 30px;
  right: 0px;
  top: 10px;
  height: 70px;
  width: 340px;
 

}
.profile_pic{
  height: 60px;
  width: 50px;
  
  position:relative;
  right: 10px;
  top: 5px;
  border-radius: 50%;
 
}
.google_dots{
  height: 50px;
  width: 50px;
}
.durbin{
  height: 30px;
  position: absolute;
  top: 25px;
  left: 23px;
}
.mic{
  height: 45px;
  position: absolute;
  top: 18px;
  right: 68px;
}
.lens{
  height: 28px;
  position: absolute;
  top: 25px;
  right: 23px;
}
.under_search{
  display: flex;
  position: relative;
  top: 280px;
  left: 18%;
  column-gap: 50px;
  
  
}
button{
  font-size: 23px;
  background-color: rgb(246, 247, 247);
  border-color: transparent;
  color: rgb(69, 67, 67);
  height: 60px;
  width: 220px;

}
.last_div{
  display: flex;
  position: relative;
  top:300px;
  left: 80px;
  font-size: 20px;
}
.english{
  color: rgb(85, 84, 84);
  position: relative;
  top: 20px;
}
.language{
  color: blue;
  display: flex;
  column-gap: 12px;
  margin-right: 12px;
  
  position: relative;
  left: 12px;
  top: 20px;
}
.india{
  display: flex;
  position: absolute;
 
  bottom: 50px;
  background-color: rgb(246, 247, 247);
  height: 70px;
  width: 100%;
  font-size: 20px;
  align-items: center;
  flex: 1fr;
  color: rgb(138, 135, 135);
  border-width: 5px;
  border-color: black;
  left: 0%;

  padding-left: 40px;
  
}
.below_india{
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-left: 50px;
  height: 70px;
  font-size: 20px;
  background-color: rgb(246, 247, 247);
  column-gap: 25px;
  align-items: center;
  color: rgb(138, 135, 135);
  right: 0px;
}
.below_india2{
  display: flex;
  position: absolute;
  right:50px;
  bottom: 20px;
  font-size:20px;
  column-gap:25px ;
  align-items: center;
  color: rgb(138, 135, 135);
  
  
}

